%section.sidebar.green-border
  -if @product_category.nil? || @product_category.parent.nil? && @product_category.children.none?
    %ul#sidebar.sidebar-categories
      - for category in Shopr::ProductCategory.without_parent.ordered
        %li= link_to category.name, products_path(category.permalink), :nav_item => :category
  -else
    -if !@product_category.children.none?
      %ul#sidebar.sidebar-categories
        - for category in @product_category.children
          %li= link_to category.name, products_path(category.permalink), :nav_item => :category
    -else
      %ul#sidebar.sidebar-categories
        - for category in @product_category.parent.children
          %li= link_to category.name, products_path(category.permalink), :nav_item => :category
  %ul#sidebar-params
    %h3.attributes Параметры
    -if !@product_category.nil? && !@products.empty?
      - Shopr::ProductAttribute.where(product_id: [@products.ids], searchable: true).grouped_hash.each do |attribute, values|
        %ul
          %li
            %h4= attribute
          - values.each do |values|
            %a= link_to values, product_filter_path(key: attribute, value: values)
            %span='('+Shopr::ProductAttribute.where(key: attribute, value: values, searchable: true).select(:product_id).distinct.count.to_s+')'
            .clearfix
    -else
      - Shopr::ProductAttribute.grouped_hash.each do |attribute, values|
        %ul
          %li
            %h4= attribute
          - values.each do |values|
            %a= link_to values, product_filter_path(key: attribute, value: values)
            %span='('+Shopr::ProductAttribute.where(key: attribute, value: values, searchable: true).select(:product_id).distinct.count.to_s+')'
            .clearfix