%ul.products
  - for product in products
    %li
      =link_to product_path(product.product_category.permalink, product.permalink) do
        .img{:style => product.default_image ? "background-image:url(#{product.default_image.path})" : ''}
        %h4= product.name
        %p.info= truncate product.short_description, :length => 90
        %p.price.bad= number_to_currency product.price
        %p.price= number_to_currency product.cost_price
        %hr
        %p.buttons 
          //= link_to "Info", product_path(product.product_category.permalink, product.permalink)
          - if product.orderable?
            = link_to "Купить", buy_product_path(product.product_category.permalink, product.permalink), :class => 'btn add', :method => :post