%table.variants
  %tr
    %td{:width => "200px"} Вариант товара
    %td
      = select_tag 'product_variants', options_for_select(product.variants.collect{ |v| [v.name, v.id] }, variant.id)
    %td
  %tr.details{data: {url: change_variant_path(product.product_category.permalink, product.permalink)}}
    %td{:width => "100px"} Цена
    %td
      - if product.cost_price.is_a? Numeric
        %p.price.bad= number_to_currency variant.price
        %p.price= number_to_currency variant.cost_price
      - else
        %p.price= number_to_currency variant.price

    %td.buy
      = form_tag buy_product_path(product.product_category.permalink, product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do
        = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock?
        = submit_tag 'Купить', :class => 'btn add', :disabled => !variant.in_stock?