%table.variants
  %tr
    %td{:width => "120px"} Размер (см x см):
    %td
      = select_tag 'product_variants', options_for_select(product.variants.collect{ |v| [v.name, v.id] }, variant.id)
    %td
    %td
  %tr.details{data: {url: change_variant_path(product.product_category.permalink, product.permalink)}}
    %td{:width => "20px"} Цена
    %td
      - if product.cost_price.is_a? Numeric
        %p.price.bad= number_to_currency variant.price
        %p.price= number_to_currency variant.cost_price
      - else
        %p.price= number_to_currency variant.price
    %td{:width => "10px"} Количество
    %td.buy 
      = form_tag buy_product_path(product.product_category.permalink, product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do
        = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock?
        -# = submit_tag 'Купить', :class => 'btn add', :disabled => !variant.in_stock
        %button.btn.add{"data-target" => "#buyModal", "data-toggle" => "modal", :type => "button"} Купить
        / Modal
        #buyModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "buyModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                %h4#buyModalLabel.modal-title Сделать заказ можно позвонив по телефону:
              .modal-body
                %h4 (029) 127 55 55
                %p 09:00 - 20:00 (рабочие дни), 09:00 - 17:00 (выходные)
              .modal-footer
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Закрыть
                -# %button.btn.btn-primary{:type => "button"} Перейти