- active_nav_item :catalogue
- @page_title = @product.name + " - " + @product.product_category.name
.product
  .product-info

    .product-slider
      - if @product.default_image
        -# # .img{:style => "background-image:url(#{@product.default_image.path})"}
        / Lets show the 1st image by default on page load
        %input{id: "0", :checked => "checked", name: "slide_switch", type: "radio"}
        %label{for: "0"}
          %img{src: "#{@product.default_image.path}"}
        %img{src: "#{@product.default_image.path}"}
      - if @extra_attachments.present?
        - @extra_attachments.each do |attachment|
          %input{id: "#{attachment.id}",name: "slide_switch", type: "radio"}
          %label{for: "#{attachment.id}"}
            %img{src: "#{attachment.path}", width: "100"}
          %img{src: "#{attachment.path}"}

      %p.small.inline-flex На иллюстрациях представлены прототипы. Внешний вид поставляемых товаров и их компонентов может отличаться от иллюстраций с сохранением декларируемых потребительских свойств.

    .intro
      %h2= @product.name
      .stock
        - if @product.in_stock?
          %p.yes В наличии
          -# %p.time Order in the next <b>#{time_until_next_delivery_cut_off}</b> for delivery #{next_delivery_day}.
        - else
          %p.no Нет в наличии
          -# %p.time Sorry - we don't have any stock of this product at the moment. #{link_to "Let me know when you do"}.
      .rating= rating_stars(average_rating(@product))
      %span.to-review-anchor= link_to '(' + @product.comments.count.to_s + ')', '#tabs'
      %span.to-review-btn-anchor= link_to 'Оставить отзыв', '#tabs'
      %p= raw @product.short_description
      .optionsBox
      .top
        -# %p.price= number_to_currency @product.price
        -# = form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do
        -#   %p
        -#     = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock?
        -#     = submit_tag 'Add to basket', :disabled => !@product.in_stock?

      - if @product.has_variants?
        = render partial: 'variants', locals: { product: @product, variant: @product.variants.first }
      -# - else
      -#   %hr
      .bottom
        .links
          %ul
            - if @product.data_sheet
              %li.item.datasheet= link_to "Read product datasheet", @product.data_sheet.path
            - unless @product.in_the_box.blank?

              %li.item.box
                %div.in_the_box
                  
                  
            -# %li.item.ask= mail_to Shoppe.settings.email_address, "Ask us a question about this", :subject => "Question about the #{@product.name}"
  
  
  .tabs#tabs
    %input#tab1{:checked => "", :name => "tabs", :type => "radio"}
      %label{:for => "tab1"}
        %span Структура
    / Radio button and lable for #tab-content2
    %input#tab2{:name => "tabs", :type => "radio"}
      %label{:for => "tab2"}
        %span Параметры
      / Radio button and lable for #tab-content3
    %input#tab3{:name => "tabs", :type => "radio"}
      %label{:for => "tab3"}
        %span Технологии
    %input#tab4{:name => "tabs", :type => "radio"}
      %label{:for => "tab4"}
        %span#reviews= "Отзывы #{('(' + @product.comments.count.to_s + ')')}"

    / Radio button and lable for #tab-content1
    #tab-content1.tab-content.product-tabs
      -# .description
      -#   %p = markdown @product.description
      -# %h3 What's in the box?
      %p= markdown @product.in_the_box
    #tab-content2.tab-content.product-tabs
      %h3
        / Tab title here
      - unless @attributes.empty?
        %table.attributes
          - for attribute in @attributes
            %tr
              %th= attribute.key
              %td= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value)
    #tab-content3.tab-content.product-tabs
      .tech-item
        =image_tag "coppercoil.png"
        .tech-item-info
          %h3 CopperCoil
          %p Уникальные биметаллические пружины, стальная проволока которых при помощи специального оборудования покрыта тонким слоем меди. Это придает им благородный внешний вид, делает более гладкими, износоустойчивыми, бесшумными, а также препятствует накоплению статического электричества. Помимо улучшения механических свойств пружин, медь благотворно влияет на общее состояние организма благодаря целебным свойствам этого металла.
      .tech-item
        =image_tag "tricover.png"
        .tech-item-info
          %h3 Tricover
          %p Современная технология «запечатывания» матраса в полиамидную сетку, которая уменьшает трение между чехлом и настилочными слоями, защищая матрас от износа и продлевая срок его службы.
      .tech-item
        =image_tag "sleepclean.png"
        .tech-item-info
          %h3 Sleep&Clean
          %p Замок-молния по всему периметру чехла матраса, позволяющий легко разделить чехол на две половины, а затем снять для удобной стирки либо замены.
      .tech-item
        =image_tag "xframe.png"
        .tech-item-info
          %h3 X-frame
          %p Защитная конструкция из упругого пенного материала по периметру матраса, предотвращающая его проседание и потерю формы.
    #tab-content4.tab-content.product-tabs
      %h3
      %button.btn.btn-primary.add-comment= 'Добавить отзыв!'
      = render partial: 'comments/form', locals: {comment: @new_comment, product: @product}
      = render partial: 'comments/comment', collection: @comments, as: :comment