!!!
%html
  %head
    %title #{@page_title} - #{Shopr.settings.store_name}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    = favicon_link_tag 'favicon.ico'
    = yield :head
  %body
    = display_flash
    
    / The main header displayed on all pages
    / Sometimes will be shorted as the page content dictates. 
    %header.main{:class => @full_header ? 'full' : 'basic'}
      .container.first
        .row
          .col-md-12
            .head
              .logo=link_to '', root_path
              .headcontacts
                =image_tag "phone.png", class: "phone_icon"
                .div
                  %p.call <b>(029) 127 55 55</b>
                  %p.small 09:00 - 20:00 (рабочие дни), 09:00 - 17:00 (выходные)
              .search
      / Primary navigation
      .container.p-a-0
        %nav.main
          %ul
            //%li= link_to "Home", root_path, :nav_item => :home
            - for category in Shopr::ProductCategory.without_parent.ordered
              %li
                = link_to category.name, products_path(category.permalink), :nav_item => :catalogue
                - for category in category.descendants
                  %ul
                    %li= link_to category.name, products_path(category.permalink)
            %li= link_to "Акции", page_path(:instock), :nav_item => :instock, class: 'instock'
            %li= link_to "О компании", page_path(:about), :nav_item => :about
            //%li= link_to "Контакты", page_path(:contact), :nav_item => :contact
    - if @full_header
      .container
        %section.intro.row
          .col-xl-3.col-lg-4.col-md-5.col-xs-12
            .info.green-border
              %h2 Нужен матрас срочно?
              %p Более <b>100 видов</b> матрасов в наличии! Закажи сейчас и мы доставим его вам в течение дня!
              %p Равным образом новая модель Закажи сейчас и мы доставим его вам в течение дня!
              = link_to "Матрасы в наличии",  catalogue_path, class: "btn btn-lg btn-default"
              -# %a.arrow-r{:href => catalogue_path} Использователь фильтр

          .col-xl-9.col-lg-8.col-md-7.col-xs-12
            .slider
              %ul.row
                %input#img-1{:checked => "checked", :name => "radio-btn", :type => "radio"}/
                %li.slide-container
                  .slide
                    .slide-info
                      %h2 -30%
                      %p С 10 декабря по 21 марта каждую субботу
                    =image_tag "slider/image1.png"
                %input#img-2{:name => "radio-btn", :type => "radio"}/
                %li.slide-container
                  .slide
                    .slide-info
                    =image_tag "slider/image2.png"
                %input#img-3{:name => "radio-btn", :type => "radio"}/
                %li.slide-container
                  .slide
                    .slide-info
                    %img{:src => "http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg"}/
                %input#img-4{:name => "radio-btn", :type => "radio"}/
                %li.slide-container
                  .slide
                    .slide-info
                      %h2 -10%
                      %p Test
                    %img{:src => "http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg"}/
              %figcaption.controls
                %label{:for => "img-1"} Акция -30%
                %label{:for => "img-2"} Наматрасники - 10%
                %label{:for => "img-3"} Подушка в подарок
                %label{:for => "img-4"} Бесплатная доставка
            
          .col-md-12
            %ul.reasons
              %li.support
                %h4 Европейские материалы
              %li.quality
                %h4 Сертификаты качества
              %li.garanty
                %h4 Гарантия 20 лет
              %li.dimensions    
                %h4 Нестандартные размеры
              %li.delivery
                %h4 Бесплатная доставка

          -# - if @full_header
            -# .bar
            -#   %p.call Call us today on <b>01202 901 101</b> if you have any questions.
            -#   %p.offer <b>This week only!</b> FREE next day shipping on all orders over &pound;30.
    
    / Main content section
    .content
      .container.white-off.last
        -# Breadcrumbs
        -if current_page?(root_path)
        -else
          .breadcrumb
            =link_to('Главная', root_path) << ' ›'
            -if defined? @product_category
              =link_to(@product_category.name, products_path(@product_category.permalink) )
            -else
              =link_to(@page_title, request.fullpath)
            -if defined? @product
              ›
              %span= @product.name
        .row
          .col-md-12
            / Primary section
            %section.primary
              = yield
    
    - if @full_header
      .container.last
        .row
          .col-md-6.col-xs-12
            =link_to '/products/filter?key=Коллекция&value=Комфорт' do
              .specials.green 
                =image_tag "box1.png"
                .discount
                %span коллекция
                %h3 Комфорт
                %p.info Матрасы на основе независимых пружинных блоков TFK. Просто комфорт - и ничего более.
                .price 
                  %p.price 
                    %strike от 5 490 000 руб.
                  %p.price.new
                    от 4 490 000 руб.

          .col-md-6.col-xs-12
            =link_to '/products/filter?key=Коллекция&value=Комфорт' do
              .specials.purple
                =image_tag "box2.png"
                .discount
                %span коллекция
                %h3 Комфорт
                %p.info Матрасы для поклонников передового дизайна и технологий.
                .price 
                  %p.price 
                    %strike от 5 490 000 руб.
                  %p.price.new
                    от 4 490 000 руб.

          .col-md-6.col-xs-12
            =link_to '/products/filter?key=Коллекция&value=Эколатекс' do
              .specials
                =image_tag "box3.png"
                .discount
                %span коллекция
                %h3 Эколатекс
                %p.info Беспружинные матрасы для ценителей натуральных природных материалов.
                .price 
                  %p.price 
                    %strike от 5 490 000 руб.

          .col-md-6.col-xs-12
            =link_to '/products/filter?key=Коллекция&value=Эксклюзив' do
              .specials
                =image_tag "box4.png"
                .discount
                %span коллекция
                %h3 Эксклюзив
                %p.info Матрасы с эксклюзивными независымыми пружиннными блоками Vernestet и Multipocket.
                .price 
                  %p.price 
                    %strike от 5 490 000 руб.
    
    / Footer
    %footer.main
      .container.text-xs-center      
        / Useful footer links (policies etc...)
        %ul.links
          - for category in Shopr::ProductCategory.ordered
            %li= link_to category.name, products_path(category.permalink), :nav_item => :catalogue
          %li= link_to "Акции", page_path(:faqs)
          %li= link_to "О компании", page_path(:cookies)
      
        -# .callUs
        -#   %p Got any questions? Call us today:
        -#   %p.number 01202 901 101
        -#   %p We're open 9am to 5pm, Monday to Friday.
          
          / Links to social media
          -# %ul.social
          -#   %li.twitter= link_to "Twitter", 'http://twitter.com/niftyware'
          -#   %li.facebook= link_to "Facebook", "http://facebook.com/niftyware"
          -#   %li.pinterest= link_to "Pinterest", "http://pinterest.com"
          -#   %li.linkedin= link_to "Linked In", "http://linkedin.com"
          -#   %li.vimeo= link_to "Vimeo", "http://vimeo.com"
          -#   %li.youtube= link_to "Youtube", "http://youtube.com"
      
        / Copyright & trademark information
        .copyright
          &copy; #{Date.today.year} ООО "ЛидерМатрасМаркет", УНП 190812427, ркг в ТР от 07.06.2010 г., тел (029) 127 55 55